body {
    background: #20262E;
    padding: 20px;
    font-family: Helvetica;
    color: white;
}

p {
    margin-top: 0;
}

hr {
    margin: 2em 0em;
}

#tab-container {
    display: inline-block;
}

.tab {
    float:left; 
    margin-left:4em;
}

.column {
    float: left;
    height: 95%;
}

#inventory-col {
    width: 20%;
}

#main-col {
    width: 77%;
    padding-left: 3%;
}

.center {
    text-align: center;
}

#furnace-container {
    width: 10em;
}

#key-dict {
    margin-top: 1.5em;
}

.border-container {
    border: 2px solid white;
    padding: 1em;
    border-radius: 0.5em;
}

.automation-item {
    text-align: center;
}

#automation-table, #upgrade-table {
    border-collapse:separate; 
    border-spacing:0 1em;
}

.title {
    text-decoration: underline;
}

th {
    font-weight: 400;
}

#sell-items { 
    float:right;
}