body {
    background: #20262E;
    padding: 20px;
    font-family: Helvetica;
    color: white;
}

p {
    margin-top: 0;
}

hr {
    margin: 2em 0em;
}

li {
    list-style: none;
}

#tab-container {
    display: inline-block;
}

.tab {
    float:left; 
    margin-left:4em;
}

.column {
    float: left;
    height: 95%;
}

#inventory-col {
    width: 25%;
}

#main-col {
    width: 72%;
    padding-left: 3%;
}

.center {
    text-align: center;
}

.furnace-container {
    position: relative;
    width: 10em;
}

.furnace-inner {
    position: absolute;
    background-color: #9e9e9e69;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 0.5em;
    z-index: -1;
}

#key-dict {
    margin-top: 1.5em;
}

.border-container {
    border: 2px solid white;
    padding: 1em;
    border-radius: 0.5em;
}

#automation-container {
    width: fit-content;
}

.automation-item {
    text-align: center;
}

#upgrade-table {
    border-collapse:separate; 
    border-spacing:0 1em;
}

#automation-table, .shipyard-table {
    border-collapse: separate;
    border-spacing: 2em 1em;
}

.title {
    text-decoration: underline;
}

.insufficient {
    color: #de2929;
}

th {
    font-weight: 400;
}

#sell-items { 
    float:right;
}

.green {
    color: #0f9e0f;;
}

.red {
    color: #de0000;;
}

.red-border {
    border-color: #de0000;;
}

#new-upgrade {
    font-style: italic;
}